/* Services ===========================================================================*/
.service {
    &__container {
        background-color: $backWite;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        padding: 0 40px 20px;
    }

    &__describe {
        padding: 0 40px;

        p {
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.service__items {
    max-width: 1400px;
    padding: 50px 45px;

    .swiper-pagination-bulle {
        height: 15px;
        width: 15px;
        line-height: 20;
        font-size: 14px;
    }

    .swiper-pagination-bullet-active {
        background: $darckGrey;
    }

    .swiper-button-next::after {
        color: $colorGreen;
    }

    .swiper-button-prev::after {
        color: $colorGreen;
    }
}

.service__item {
    border: 3px solid #edeef0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease 0s;

    &:hover {
        .item-service__about {
            background-color: $darckGrey;
        }

        .item-service__title {
            color: $backWite;
        }

        .item-service__text {
            color: $backWite;
        }

        border: 3px solid $colorGreen;
        transform: scale(1.05);
        transition: 0.5s ease 0s;
    }
}

.item-service {
    position: relative;
    aspect-ratio: 4/3;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        background-color: rgb(245, 245, 245);
        position: absolute;
        top: calc(100% - 55px);
        left: 0px;
        height: 100%;
        padding: 10px;
        transition: all 0.8s;
    }
    &__title {
        h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__detail {
        opacity: 1;
        transition: all 1s;
        color: #7e7e7e;
    }
    &__text {
        opacity: 0;
        transition: all 1s ease 0.1s;
    }
    &__link {
        background-color: $colorGreen;
        height: 48px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;

        transition: all 1s;

        font-size: 22px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__chevron {
        position: absolute;
        right: 10px;
        top: 12px;
        transition: all 0.8s ease 0s;
        cursor: pointer;

        img {
            height: 15px;
        }
    }
}

.item-service:hover {
    .item-service__info {
        top: 0;
        background-color: #2c3e4ee1;
    }
    .item-service__detail {
        opacity: 0;
    }
    .item-service__text {
        opacity: 1;
    }
    .item-service__chevron {
        top: 5px;
        transform: rotate(180deg);
        svg path {
            fill: #e4e4e4;
        }
    }
    .item-service__link {
        font-size: 24px;
    }
}
