<!-- ********** Advantages ********** -->
<section class="page__advantages advantages">
    <div class="advantages__container">
        <img
            class="advantages__background-image"
            src="@img/advantages/advantages.jpeg"
            alt="image"
        />
        <h2 class="advantages__title title">Чому саме ми?</h2>
        <div class="advantages__text text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendissvarius enim in eros elementum tristique. Duis cursus,
                mi quis viverrornare, eros dolor interdum nulla, ut commodo diam
                libero.
            </p>
        </div>
        <div class="advantages__body">
            <div class="advantages__items">
                <article class="advantages__item _anim-items _anim-no-hide">
                    <h4 class="advantages__value">1.2M+</h4>
                    <div class="advantages__text text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim.
                    </div>
                </article>
                <article class="advantages__item _anim-items _anim-no-hide">
                    <h4 class="advantages__value">3.4B</h4>
                    <div class="advantages__text text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim.
                    </div>
                </article>
                <article class="advantages__item _anim-items _anim-no-hide">
                    <h4 class="advantages__value">98%</h4>
                    <div class="advantages__text text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim.
                    </div>
                </article>
                <article class="advantages__item _anim-items _anim-no-hide">
                    <h4 class="advantages__value">10+</h4>
                    <div class="advantages__text text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim.
                    </div>
                </article>
            </div>
            <div class="advantages__clients _anim-items _anim-no-hide">
                <ul class="advantages__clients-items">
                    <li class="advantages__clients-item">
                        <p class="text">
                            Торгово-розважальний центр <br /><strong
                                >"FORest"</strong
                            >
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Мережа магазинів <br /><strong>"ДЛЯ ВАС"</strong>
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Бош автосервіс <br /><strong>"FORMULA"</strong>
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Торгово-розважальний центр <br /><strong
                                >"FORest"</strong
                            >
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Мережа магазинів <br /><strong>"ДЛЯ ВАС"</strong>
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Бош автосервіс <br /><strong>"FORMULA"</strong>
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Торгово-розважальний центр <br /><strong
                                >"FORest"</strong
                            >
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Мережа магазинів <br /><strong>"ДЛЯ ВАС"</strong>
                        </p>
                    </li>
                    <li class="advantages__clients-item">
                        <p class="text">
                            Бош автосервіс <br /><strong>"FORMULA"</strong>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
