<!-- ********** Brand ********** -->
<section class="page__brand brand">
    <div class="brand__container">
        <h2 class="title">Наші партнери</h2>
        <div class="brand__title">
            <h3 class="text">
                Ми використовуємо тільки сучасні технології та обладнання від провідних виробників.
            </h3>
        </div>
        <div class="brand__swiper swiper">
            <!-- Additional required wrapper -->
            <div class="brand__swiper-wrapper swiper-wrapper">
                <!-- Slides -->
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/ajax.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/atis.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/came.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/dahua.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/full-energy.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/hikvision.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/imou.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/neolight.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/nice.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/slinex.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/steelon.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/tiras.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/tplink.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/yli-electronic.svg" alt="ajax">
                    </div>
                </div>
                <div class="brand__swiper-slide swiper-slide">
                    <div class="brand__item">
                        <img src="@img/brands/zkteco.svg" alt="ajax">
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>