<!-- ********** Complex solution ********** -->
<section class="page__complex-solution complex-solution" id="solution">
    <div class="complex-solution__container">
        <img src="@img/complex_solution/complex-background.jpeg" alt="complex-solution">
        <div class="complex-solution__body">
            <h2 class="complex-solution_title ">КОМПЛЕКСНИЙ ПІДХІД</h2>
            <ul class="complex-solution__items _anim-items _anim-no-hide">
                <li>вигідні знижки</li>
                <li>максимальний рівень безпеки</li>
                <li>якісний сервіс та контроль</li>
                <li>повна гарантія</li>
            </ul>
        </div>
    </div>
</section>