<!-- ********** Complex solution ********** -->
<section class="page__complex-solution complex-solution" id="solution">
    <div class="complex-solution__container">
        <img src="@img/complex_solution/complex-background.jpeg" alt="complex-solution">
        <h2 class="complex-solution_title ">КОМПЛЕКСНИЙ ПІДХІД</h2>
        <div class="complex-solution__body">
            <div class="complex-solution__text">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aut saepe perspiciatis, dicta quae maxime eos iste atque autem hic aliquid assumenda culpa. Quasi vero illo saepe, iure quam eos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi dignissimos sapiente voluptas dolorem rem illo, perspiciatis velit eos, quasi, libero sed nam. Minima voluptatum, vitae molestias autem natus voluptate!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi dignissimos sapiente voluptas dolorem rem illo, perspiciatis velit eos, quasi, libero sed nam. Minima voluptatum, vitae molestias autem natus voluptate!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi dignissimos sapiente voluptas dolorem rem illo, perspiciatis velit eos, quasi, libero sed nam. Minima voluptatum, vitae molestias autem natus voluptate!
                </p>
            </div>
            <div class="complex-solution__advantages">
                <ul class="complex-solution__items _anim-items _anim-no-hide">
                    <li>вигідні знижки</li>
                    <li>максимальний рівень безпеки</li>
                    <li>якісний сервіс та контроль</li>
                    <li>повна гарантія</li>
                </ul>
            </div>
        </div>
    </div>
</section>