<!-- ********** Consultation ********** -->
<section class="page__consultation consultation">
    <div class="consultation__container">
        <div class="consultation__about">
            <h2 class="title">
                Не втрачайте свій шанс на максимальний рівень безпеки - зверніться до нас прямо зараз!
            </h2>
            <!-- <div class="consultation__title ">
            </div> -->
            <!-- <div class="consultation__text ">
                <p class="text">
                    Для консультації введіть свій номер телефону та натисніть кнопку двінок, наш консультант обов’язково
                    Вам зателефонує
                </p>
            </div> -->
        </div>
        <form action="#" class="consultation__form form-order">
            <input class="consultation__control control tel" type="tel" name="phone" placeholder="(999) 999-9999">
            <button type="submit" class="form-order__button consultation__button button">Замовити дзвінок<button>
        </form>
    </div>
</section>