<!-- ********** Main ********** -->
<section class="page__main main" id="main">
    <div class="main__container">
        <img
            class="_anim-items _anim-no-hide"
            src="@img/main/background-image-3.jpg"
            alt="image"
        />
        <div class="main__body">
            <div class="main__title _anim-items _anim-no-hide">
                <h1>
                    ВАША безпека-<br />
                    <span>НАШ пріоритет!</span>
                </h1>
            </div>
            <div class="main__motto _anim-items _anim-no-hide">
                <h2>
                    Існує безліч способів захисту оселі чи бізнесу і Ми
                    допоможемо обрати той, що підходить саме Вам!
                </h2>
            </div>
            <div class="main__call-me">
                <a href="/video-service.html">
                    <button class="call-me button">Замовити дзвінок</button>
                </a>
                <!-- <button class="call-me button">Замовити дзвінок</button> -->
            </div>
        </div>
    </div>
</section>
<!-- <section class="page__feedback order-complex-solution">
        <div class="order-complex-solution__container">
            <div class="order-complex-solution__text">Давайте з вами познайомимось</div>
            <form action="#" class="order-complex-solution__form form-order">
                <input class="form-order__control control" type="text" name="name" id="userName" placeholder="Ім'я">
                <input class="form-order__control control tel" type="tel" name="phone" id="userPhone" placeholder="(999) 999-9999">
                <button type="submit" class="form-order__button button">Дзвінок</button>
            </form>
        </div>
    </section> -->
