<!-- ********** Order complex solution********** -->
<section class="page__order-complex-solution order-complex-solution">
    <div class="order-complex-solution__container">
        <div class="order-complex-solution__text">
            Замовити комплексне рішення
        </div>
        <form action="#" class="order-complex-solution__form form-order">
            <input
                class="form-order__control control"
                type="text"
                name="name"
                placeholder="Ім'я"
            />
            <input
                class="form-order__control control tel"
                type="tel"
                name="phone"
                id="userPhone1"
                placeholder="(999) 999-9999"
            />
            <button type="submit" class="form-order__button button">
                Дзвінок
            </button>
        </form>
    </div>
</section>
