<!-- ********** Service ********** -->
<section class="page__service service" id="service">
    <div class="service__container">
        <div class="service__title">
            <h2 class="title">Наші послуги</h2>
        </div>
        <div class="service__describe">
            <p>Ми пропонуємо для Вас комплекси послуг які допоможуть зекономити кошти</p>
        </div>
        <div class="service__items swiper">
            <div class="service__wrapper swiper-wrapper">
                <!-- Slide 1 -->
                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="/video-service.html">
                            <img src="@img/service/videonagliad.png" alt="service image">
                        </a>                        
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Відеонагляд</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span> 
                            <span class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.  
                            </span>
                        </div>
                        <div class="item-service__open">                            
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="protection-service.html">
                            <img src="@img/service/sequre-system.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Охоронні системи</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span class="item-service__hidden">
                                lorem,
                                ipsum dolor sit amet consectetur adipisicing elit.lorem, ipsum dolor sit amet
                                consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/auto-gate.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Автоматика</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span
                                class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/domofon.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Домофонія</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span
                                class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/videonagliad.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Відеонагляд</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span
                                class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/videonagliad.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Відеонагляд</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span
                                class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/videonagliad.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Відеонагляд</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>

                <div class="service__item item-service swiper-slide">
                    <div class="item-service__image">
                        <a href="#">
                            <img src="@img/service/videonagliad.png" alt="service image">
                        </a>
                    </div>
                    <div class="item-service__about">
                        <div class="item-service__title">Відеонагляд</div>
                        <div class="item-service__text">
                            <span class="dotes">Дізнатись більше...</span>
                            <span class="item-service__hidden">
                                lorem, ipsum dolor sit amet consectetur adipisicing
                                elit.lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="item-service__open">
                            <img class="chevron" src="@img/service/chevron.svg" alt="chevron">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>