<!-- ********** Service ********** -->
<section class="page__service service" id="service" da>
    <div class="service__container">
        <div class="service__title">
            <h2 class="title">Наші послуги</h2>
        </div>
        <div class="service__describe">
            <p>
                Ми пропонуємо для Вас комплекси послуг які допоможуть зекономити
                кошти
            </p>
        </div>
        <div class="service__items swiper">
            <div class="service__wrapper swiper-wrapper">
                <!-- video-surveillance -->
                <div class="service__item item-service swiper-slide">
                    <img
                        src="@img/service/video-surveillance.png"
                        alt="video-surveillance"
                    />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Відеонагляд</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/video-surveillance.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- security-system -->
                <div class="service__item item-service swiper-slide">
                    <img
                        src="@img/service/security-system.jpg"
                        alt="security-system"
                    />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Охоронна сигналізація</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/security-system.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- intercom -->
                <div class="service__item item-service swiper-slide">
                    <img src="@img/service/intercom.png" alt="intercom" />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Домофонія</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/intercom.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- gate-automation -->
                <div class="service__item item-service swiper-slide">
                    <img
                        src="@img/service/gate-automation.png"
                        alt="gate-automation"
                    />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Автоматика воріт</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/gate-automation.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- access-control -->
                <div class="service__item item-service swiper-slide">
                    <img
                        src="@img/service/access-control.png"
                        alt="access-control"
                    />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Контроль доступу</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/access-control.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- fire-alarm -->
                <div class="service__item item-service swiper-slide">
                    <img
                        src="@img/service/gate-automation.png"
                        alt="fire-alarm"
                    />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Пожежна сигналізація</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/fire-alarm.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>

                <!-- smart-home -->
                <div class="service__item item-service swiper-slide">
                    <img src="@img/service/smart-home.jpg" alt="smart-home" />
                    <div class="item-service__info">
                        <div class="item-service__title">
                            <h3>Розумний дім</h3>
                        </div>
                        <div class="item-service__chevron">
                            <svg
                                width="28"
                                height="16"
                                viewBox="0 0 28 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14 10.4785L24.207 0.681638C24.459 0.435544 24.875 0.441403 25.1328 0.693356L26.9258 2.44531C27.1836 2.69726 27.1894 3.10742 26.9375 3.35351L14.4746 15.3184C14.3457 15.4473 14.1699 15.5059 14 15.4941C13.8242 15.5 13.6543 15.4414 13.5254 15.3184L1.0625 3.35351C0.810543 3.10742 0.816402 2.69726 1.07421 2.44531L2.86718 0.693356C3.125 0.441403 3.54101 0.435544 3.79296 0.681638L14 10.4785Z"
                                    fill="currentColor "
                                />
                            </svg>
                        </div>
                        <div class="item-service__detail">
                            <h4>Дізнатись більше...</h4>
                        </div>
                        <div class="item-service__text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Totam voluptas iure distinctio
                                voluptates aspernatur dolores similique facilis
                                accusantium?
                            </p>
                        </div>
                        <a
                            class="item-service__link"
                            href="@@url/smart-home.html"
                        >
                            Придбати
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
