<!-- ********** Social ********** -->
<section class="page__social social">
    <div class="social__container">
        <div class="social__logo">
            <img src="@img/bc_logo.svg" alt="logo">
        </div>
        <div class="social__links">
            <div class="social__link">
                <a href="https://www.instagram.com/"><img src="@img/social/insta.svg" alt="insta"></a>
            </div>
            <div class="social__link">
                <a href="https://www.youtube.com/?hl=uk&gl=UA"><img src="@img/social/youtube.svg" alt="insta"></a>
            </div>
            <div class="social__link">
                <a href="https://uk-ua.facebook.com/"><img src="@img/social/facebook.svg" alt="insta"></a>
            </div>
        </div>
    </div>
</section>