<!-- ********** Solution about ********** -->
<section class="page__solution-about solution-about">
    <div class="solution-about__container">
        <div class="solution-about__describe">
            <!-- <div class="solution-about__green-decor"></div> -->
            <div class="solution-about__contant">
                <h3>Що таке встановлення системи безпеки “ПІД Ключ”?</h3>
                <p>
                    Для гарантії повної безпеки вашого приміщення, потрібна комплексна система захисту, яка включає в
                    себе відеонагляд, сигналізацію, домофон, контроль доступу та ін. Ці компоненти доповнюють один
                    одного, щоб створити сильний та надійний стандарт безпеки. Наша компанія пропонує повний комплекс
                    послуг, що включає в себе встановлення та налаштування системи безпеки. Ми звертаємо увагу на всі
                    деталі, щоб переконатися, що наші клієнти отримують найкращий захист, який можна уявити.
                </p>
            </div>
        </div>
        <div class="solution-about__advantages complex-advantages">
            <h3>Переваги встановлення під ключ</h3>
            <div class="complex-advantages__items">
                <div class="complex-advantages__item">
                    <div class="complex-advantages__item-number _anim-items _anim-no-hide">1</div>
                    <div class="complex-advantages__item-text">Забезпечує оптимальне розташування камер
                        відеоспостереження, датчиків руху та інших елементів, що гарантує найбільш повне покриття
                        приміщення та ефективне функціонування системи.</div>
                </div>
                <div class="complex-advantages__item">
                    <div class="complex-advantages__item-number _anim-items _anim-no-hide">2</div>
                    <div class="complex-advantages__item-text">Дає можливість інтеграції усіх систем, що дозволяє
                        контролювати безпеку об'єкту з одного центрального місця і спрощує процес контролю та збільшує
                        його ефективність.</div>
                </div>
                <div class="complex-advantages__item">
                    <div class="complex-advantages__item-number _anim-items _anim-no-hide">3</div>
                    <div class="complex-advantages__item-text">Дозволяє забезпечити оптимальне розташування камер
                        відеоспостереження, датчиків руху та інших елементів, що гарантує найбільш повне покриття
                        приміщення та ефективне функціонування системи.</div>
                </div>
            </div>
        </div>
    </div>
</section>