<!-- ********** Stages ********** -->
<section class="page__stages stages">
    <div class="stages__container">
        <div class="stages__work">
            <div class="stages__title">
                <h2 class="title">Етапи робіт</h2>
            </div>
            <ol class="stages__items">
                <li class="stages__item">Консультація та виїзд інженера на об'єкт</li>
                <li class="stages__item">Складання проектно-кошторисної документації</li>
                <li class="stages__item">Монтаж та налаштування обладнання</li>
                <li class="stages__item">Гарантійне та після гарантійне обслуговування</li>
            </ol>
        </div>
        <div class="stages__social ">
            <div class="stages__logo">
                <img src="@img/bc_logo.svg" alt="logo">
            </div>
            <div class="stages__links">
                <div class="stages__link">
                    <a href="https://www.instagram.com/"><img src="@img/stages/insta.svg" alt="insta"></a>
                </div>
                <div class="stages__link">
                    <a href="https://www.youtube.com/?hl=uk&gl=UA"><img src="@img/stages/youtube.svg" alt="insta"></a>
                </div>
                <div class="stages__link">
                    <a href="https://uk-ua.facebook.com/"><img src="@img/stages/facebook.svg" alt="insta"></a>
                </div>
            </div>
        </div>
        
    </div>
</section>