<!-- ********** Testimonials ********** -->
<section class="page__testimonials testimonials" id="testimonials">
    <div class="testimonials__container">
        <div class="testimonials__content">
            <div class="testimonials__header header-main">
                <a href="#" class="header-main__label">Усі відгуки</a>
                <h2 class="header-main__title testimonials-title title">Відгуки наших клієнтів</h2>
                <div class="header-main__body">
                    <div class="testimonials__text header-main__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                            commodo diam libero.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials__items">
            <article class="testimonials__item item-testimonial _anim-items _anim-no-hide">
                <div class="item-testimonial__user user-testimonial">
                    <div class="user-testimonial__avatar ">
                        <img src="@img/testimonials/testem.png" alt="avatar">
                    </div>
                    <div class="user-testimonial__body">
                        <div class="user-testimonial__title">Василь Троць</div>
                        <div class="user-testimonial__company">WebSpark</div>
                    </div>
                </div>
                <h4 class="item-testimonial__title">"Рекомендую цю компанію"</h4>
                <div class="item-testimonial__text text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero.
                    </p>
                </div>
                <div class="item-testimonial__rating">
                    <img src="@img/testimonials/rating.svg" alt="rating">
                </div>
            </article>
            <article class="testimonials__item item-testimonial _anim-items _anim-no-hide">
                <div class="item-testimonial__user user-testimonial">
                    <div class="user-testimonial__avatar ">
                        <img src="@img/testimonials/testem.png" alt="avatar">
                    </div>
                    <div class="user-testimonial__body">
                        <div class="user-testimonial__title">Alice Smith</div>
                        <div class="user-testimonial__company">Company Name</div>
                    </div>
                </div>
                <h4 class="item-testimonial__title">"The support is awesome"</h4>
                <div class="item-testimonial__text text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero.
                    </p>
                </div>
                <div class="item-testimonial__rating">
                    <img src="@img/testimonials/rating.svg" alt="rating">
                </div>
            </article>
            <article class="testimonials__item item-testimonial _anim-items _anim-no-hide">
                <div class="item-testimonial__user user-testimonial">
                    <div class="user-testimonial__avatar ">
                        <img src="@img/testimonials/testem.png" alt="avatar">
                    </div>
                    <div class="user-testimonial__body">
                        <div class="user-testimonial__title">Sophia Miller</div>
                        <div class="user-testimonial__company">Company Name</div>
                    </div>
                </div>
                <h4 class="item-testimonial__title">“A game changer for us”</h4>
                <div class="item-testimonial__text text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero.
                    </p>
                </div>
                <div class="item-testimonial__rating">
                    <img src="@img/testimonials/rating.svg" alt="rating">
                </div>
            </article>
        </div>
    </div>
</section>