<!-- ********** Video ********** -->
<section class="page__video video" id="video">
    <div class="video__container">
        <a href="http://">УСІ ВІДЕО</a>
        <div class="video__title">
            <h2 class="title">Відео з нашого</h2>
            <img src="@img/video/youtube.svg" alt="youtube">
        </div>
        <div class="video__swiper swiper">
            <div class="video__swiper-wrapper swiper-wrapper">
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <!-- <iframe width="400" height="200" src="https://www.youtube.com/embed/CDzhIkAZF5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus alias, officiis totam
                        omnis necessitatibus veritatis. Odit, possimus veritatis, maiores quaerat non natus dolore
                        voluptates neque beatae cupiditate repellat repellendus!</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <!-- <iframe width="400" height="200" src="https://www.youtube.com/embed/CDzhIkAZF5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <p>Відео 2</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <!-- <iframe width="400" height="200" src="https://www.youtube.com/embed/CDzhIkAZF5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <p>Відео 3</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <!-- <iframe width="400" height="200" src="https://www.youtube.com/embed/CDzhIkAZF5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <h3>Відео 3</h3>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <!-- <iframe width="400" height="200" src="https://www.youtube.com/embed/CDzhIkAZF5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <p>Відео 4</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <img src="@img/work/work-2.jpeg" alt="work-2">
                    </div>
                    <p>Відео 1</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <img src="@img/work/work-3.jpeg" alt="work-3">
                    </div>
                    <p>Відео 1</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                    <p>Відео 1</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <img src="@img/work/work-2.jpeg" alt="work-2">
                    </div>
                    <p>Відео 1</p>
                </div>
                <div class="video__swiper-slide swiper-slide">
                    <div class="video__item-slide">
                        <img src="@img/work/work-3.jpeg" alt="work-3">
                    </div>
                    <p>Відео 1</p>
                </div>
            </div>
            <div class="video__swiper-pagination swiper-pagination"></div>
        </div>
    </div>
</section>