<!-- ********** Work ********** -->
<section class="page__work work" id="work">
    <div class="work__container">
        <div class="work__title">
            <h2 class="title">Наші роботи</h2>
        </div>
        <div class="work__swiper swiper">
            <!-- Additional required wrapper -->
            <div class="work__wrapper swiper-wrapper">
                <!-- Slides -->
                <div class="work__item swiper-slide">
                    <div class="work__item-slide">
                        <img src="@img/work/work-1.jpeg" alt="work-1">
                    </div>
                </div>
                <div class="work__item swiper-slide">
                    <div class="work__item-slide">
                        <img src="@img/work/work-2.jpeg" alt="work-2">
                    </div>
                </div>
                <div class="work__item swiper-slide">
                    <div class="work__item-slide">
                        <img src="@img/work/work-3.jpeg" alt="work-3">
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
    </div>
</section>