.header {
    &__contacts {
        a{
            color: white;
        }
        background-color: black;
        color: white;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.contacts-header {

    &__phones a {
        padding-left: 20px;
        margin-right: 10px;
        position: relative;
    }
    &__phones a::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background:  url("../img/phone_icon.svg") 0 0 / 100% no-repeat;
        width: 18px;
        height: 18px;
        display: block;

    }
    &__adres {
    }
    &__social {
        display: flex;
    gap: 10px;
    }
}
.header-social__link {
    img{
        height: 30px;
    }
}
.header__container {
    background-color: white;
    // padding-top: 5px;
    // padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}
.main-header {
    &__logo {
        margin-top: 15px;
        margin-bottom: 15px;
        img {
            height: 100px;
        }
    }
    &__navigation {
        display: flex;
        align-items: center;
    }
}
.navigatin {
}
.menu__list {
    display: flex;
    gap: 20px;
}