@import 'varibles';
// @import '~swiper/scss/effect-cards';
// @import "~swiper/swiper";
// Swiper
// @import "~swiper/src/swiper";


.page {
    flex: 1 1 auto;
}

// Input form control
.control {
    font-weight: 500;
    padding: 5px 10px;
    background-color: #D9D9D9;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.page__main {
}
.main {
    position: relative;
    padding-top: 141px;
    
    &__container {
        
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -5;
        }
        // background: url("../img/main/background-image.jpeg") 0 0 / 100% no-repeat;
        // background: url("../img/main/background-image-2.jpeg") 0 0 / 100% no-repeat;
    }
    &__background {
        padding: 40px 40px;
        height: 600px;
        // padding-top: 100px;
        // padding-bottom: 50px;
        // background-image: image-set(no-repeat);
        background-color: #2c3e4ed3;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__contant {
        // margin-left: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__describe {
    }
    &__title h1 {
        font-size: 64px;
        font-weight: 700;
        color: white;
        line-height: 120%;
        margin-bottom: 40px;
    }
    &__motto h2{
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: white;
    }
    &__image {
        margin-right: 40px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__call-me {
        display: flex;
        justify-content: center;
        
    }
}
.button {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 30px;
    background-color: $colorGreen;
    color: $textInButton;
    transition: 0.5s ease 0s;
    &:hover {
        transform: scale(1.05);
        transition: 0.5s ease 0s;
    }
}

.page__feedback {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.2s ease 0s;
}
.show-form {
    height: 100%;
    opacity: 1;
    transition: 0.5s ease 0s;
}
@media (max-width: 767.98px) {
    .main {
        padding-top: 105px;
    }
}
@media (max-width: 399.98px) {
    .main__title h1 {
        font-size: 48px;
    }
    .main__motto h2 {
        font-size: 20px;
    }
    .main__call-me button {
        padding: 8px;
        font-size: 18px;
    }
}

/* Services ===========================================================================*/
.page__service {
}
.service {
    &__container {
        background-color: $backWite;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
        p{
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;  
        }
    }
    &__describe {
        text-align: center;
        p{
            // font-weight: 500;
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.service__items {
    max-width: 1400px;
    padding: 50px 45px;
    .swiper-pagination-bulle {
        height: 15px;
        width: 15px;
        line-height: 20;
        font-size: 14px;
    }
    .swiper-pagination-bullet-active {
        background: $darckGrey;
    }
    .swiper-button-next::after {         
            color: $colorGreen;        
    }
    .swiper-button-prev::after {         
            color: $colorGreen;        
    }
}
.service__item {
    border: 3px solid #EDEEF0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease 0s;
    &:hover {
        .item-service__about {
            background-color: $darckGrey;
        }
        .item-service__title {
            color: $backWite;
        }
        .item-service__text {
            color: $backWite;
        }

        border: 3px solid $colorGreen;
        transform: scale(1.08);
        transition: 0.5s ease 0s;
    }
}
.item-service {
    position: relative;
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__about {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 10px;
        // position: relative;
        width: 100%;
        background-color:  #EDEEF0;
        transition: all 0.8s ease 0;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    // &__text {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    // }
    &__text, span {
        font-size: 14px;
        line-height: 17px;
        // transition: all 0.3s ease 0s;
    }
    &__hidden {
        display: none;
        
    }
    &__open {
        position: absolute;
        right: 10px;
        top: 12px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        img{
            height: 15px;            
        }
    }
}
.visible {
    display: block;
    // transition: 0.5s ease 0s;
    // z-index: 5;
}
.chevron_rotate {
    transform: rotate(180deg);
}

.show-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    .item-service__title {
        margin-bottom: 10px;
    }
    .item-service__text .dotes {
        display: none;
    }
    .item-service__text {
        max-width: 100%;
    }
    .item-service__hidden {
        display: block;
        max-width: 100%;
    }
    // span {
    //     max-width: 85%;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 17px;
    // }
}

// ********** Complex solution **********

.complex-solution {
    &__container {
        background-color: $darckGrey;
        padding: 50px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        height: 250px;
        width: 200px;
        padding: 15px;
        text-align: center;
    }
    &__image {
        margin-bottom: 10px;
        height: 150px;
        width: 150px;
        margin-bottom: 20px;
    }
    &__text {
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }
}

// ********** Solution about **********

.solution-about {
    &__container {
        background-color: #fff;
        padding: 90px 40px;
        display: flex;
        gap: 70px;
    }
    &__describe {
        flex: 0 1 30%;
        
    }
    &__describe h3{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 120%;
        text-align: center;
    }
    &__describe p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%; /* 24/16 */
        text-align: justify
    }
}

.comlex-advantages {
    flex: 0 1 70%;
    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 40px;
        text-align: center;
    }
    &__items {
        display: flex;
        gap: 40px;
    }
    &__item {
        // text-align: center;
        // max-width: 100%;
        flex: 0 1 33.3%;
    }
    &__item-number {
        color: $colorGreen;
        height: 120px;
        width: 120px;
        border: 3px solid $colorGreen;
        margin: 0 auto 30px;
        font-size: 64px;
        font-weight: 700;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%; /* 24/16 */
        text-align: justify
    }
}

@media (max-width: 1100px) {
    .solution-about {
        &__container {
            flex-direction: column;
        }
    }
    
}

@media (max-width: 767.98px) {
    .solution-about__container {
        padding: 70px 40px;
    }
    .comlex-advantages {
        &__items {
            flex-direction: column;
            gap: 40px;
        }
        &__item-text {
            text-align: center;

        }
    }
}

@media (max-width: 620px) {
    .solution-about__container {
        padding: 50px 20px;
    }
    .advantages {
        flex-direction: column;
        &__item-number {
            height: 150px;
            width: 150px;
        }
    }
}


/* Order comolex solution ===========================================================================*/


.order-comolex-solution {
    &__container {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        background-color: $darckGrey;
        color: #fff;
        gap: 30px;
        justify-content: space-between;
    }
    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        line-height: 110%;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .button {
        font-size: 16px;
        padding: 5px 10px;
    }
    @media (max-width: 1100px) {
        &__container {
            flex-direction: column;

        }
    }
    @media (max-width: 564px) {
        &__form {
            flex-direction: column;
        }
    }
}

/* Work ===========================================================================*/
.work {
    &__container {
        padding: 90px 40px;
        background-color: #fff;

    }
    &__text {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 110%;
        margin-bottom: 40px;
    }
    &__swiper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__item {
    }
    &__item-slide {
        text-align: center;
    }
    &__item-slide {
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
        }
    }

    .swiper-pagination-bullet-active {
        background: $colorGreen;
    }
    .swiper-button-next::after {         
            color: $colorGreen;        
    }
    .swiper-button-prev::after {         
            color: $colorGreen;        
    }
    @media (max-width: 767.98px) {
        .work__container {
            padding: 70px 40px;
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
            display: none;
        }
    }
    @media (max-width: 479.98px) {
        .work {
            &__container {
            padding: 50px 20px;
            }
            &__text {
                font-size: 36;
                margin-bottom: 20px;
            }
        }
    }
}


/* Advantages ===========================================================================*/

.advantages {
    
    &__container {
        // padding-top: 100px;
        // padding-bottom: 100px;
        // padding-left: 40px;
        // padding-right: 40px;
        padding: 100px 40px;
        background-color: $darckGrey;
        display: flex;
        gap: 32px;
    }
    &__items {
        flex: 1 1 auto;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    &__item {
        background: rgba(129, 129, 139, 0.1);
        // border-radius: 30px;
        padding: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    }
    &__value {
        font-size: 51px;
        font-weight: 500;
        color: #fff;
    }
    &__value:not(:last-child) {
        margin-bottom: 32px;
    }
    &__text {
        font-size: 18px;
        line-height: 1.5;
    }
    &__image {
        align-self: center;
        flex: 0 0 38%;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    }
    &__image img {
        max-width: 100%;
        transform: scale(1.005);
    }
}
@media (max-width: 991.98px) {
    .advantages {
        // padding-top: 50px;
        // padding-bottom: 50px;
    }
    .advantages__container {
        flex-direction: column;
    }
}
@media (max-width: 767.98px) {
    .advantages {
        // padding-top: 30px;
        // padding-bottom: 30px;
    }
}
@media (max-width: 650px) {
    .advantages__items {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

/* Social ===========================================================================*/
.social {
    &__container {
        padding: 100px 40px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__links {
        display: flex;
        gap: 30px;
        padding: 0 40px;
    }
}
@media (max-width: 767.98px) {
    .social {
        &__container {
            flex-direction: column;
        }
        &__logo {
            margin-bottom: 30px;
        }

        // padding-top: 30px;
        // padding-bottom: 30px;
    }
}

/* Testimonials ===========================================================================*/

.testimonials {
    
    &__container {
        // padding-top: 100px;
        // padding-bottom: 100px;
        // padding: 40px;
        padding: 100px 40px;
        background-color: $darckGrey;
        
    }
}
.testimonials__header {
    margin-bottom: 64px;
    a {
        color: #fff;
        // margin-bottom: 30px;
        border: 1px solid #fff;
        padding: 10px;
    }
    a:hover {
        
    }
    h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #fff;
    }
    .header-main__title{
        max-width: none;
    }
    .header-main__text{
        max-width: 740px;

        font-weight: 300;
        font-size: 16px;
        line-height: 150%; /* 24/16 */
        color: #fff;
    }
}
.header-main__label:hover {
    transform: scale(1.05);
}
// .testimonials__header .header-main__title{
//     max-width: none;
// }
// .testimonials__header .header-main__text{
//     max-width: 740px;
// }
.testimonials__actions {
    align-self: flex-end;
}
.testemonials__items {
    display: flex;
    gap: 48px;
    h4 {
        font-weight: 500;
        font-size: 32px;
        line-height: 140.625%; /* 45/32 */
        color: #fff;
    }
}
.testemonials__item {
    padding: 64px 40px;
    background: rgba(129, 129, 139, 0.1);
    // border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}
.item-testemonial__user {
    display: flex;
    gap: 16px;
}
.user-testemonial__avatar {
    overflow: hidden;
}
.user-testemonial__avatar img{
    /* overflow: hidden; */
    transform: scale(1.1);
    min-width: 100%;
}
// .user-testemonial__avatar_1 {
//     border-radius: 0 50% 50% 50%;
// }
// .user-testemonial__avatar_2 {
//     border-radius: 50% 0 50% 50%;
// }
// .user-testemonial__avatar_3 {
//     border-radius: 50% 50% 0 50%;
// }
.user-testemonial {
    &__body {
        align-self: center;
    }
    &__title:not(:last-child) {
        margin-bottom: 7px;
    }
    &__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%; /* 24/16 */
        color: #fff;
    }
    &__company {
        font-size: 14px;
        line-height: 157.142857%; /* 22/14 */
    }
}
.item-testemonial__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 140.625%; /* 45/32 */
    color: #fff;
}
.item-testemonial__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    flex: 1 1 auto;
}
.item-testemonial__rating {
    padding-bottom: 20px;
}

@media (max-width: 1100px) {
    .testemonials__item {
        padding: 30px 15px;
    }
}

@media (max-width: 991.98px) {
    .testimonials {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .testimonials__container {
        flex-direction: column;
    }
    .testimonials__header {
    margin-bottom: 40px;
}
    .testimonials__header .header-main__text{
    max-width: 520px;
    }
    .testemonials__items {
        flex-direction: column;
        padding: 30px 15px;
    }
}
@media (max-width: 767.98px) {
    .testimonials {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .header-main__body {
        flex-direction: column;
    }
    .testimonials__actions {
    align-self: flex-start;
    }
}

@media (max-width: 479.98px) {
    .testimonials__actions {
    align-self:normal;
    }
}

/* Consultation ===========================================================================*/
.consultation {
    &__container {
        background-color: #fff;
        padding: 100px 40px;
        display: flex;
        gap: 40px;
    }
    &__about {
        text-align: center;
        flex: 0 1 50%;
    }
    &__title {
        margin-bottom: 40px;
        h2 {
            font-size: 32px;
        }
    }
    &__text .text{
        margin: 0 auto;
        max-width: 400px; 
    }
    &__form {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__control {
        font-size: 24px;
        margin-bottom: 22px;
        height: 64px;
        width: 348px;

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    }
    &__button {
        height: 64px;
        width: 348px;
    }
}

@media (max-width: 991.98px) {
    .consultation {
        &__container {
            padding: 70px 20px;
            display: flex;
            gap: 30px;
        }
    }
}
@media (max-width: 767.98px) {
    .consultation {
        &__container {
            padding: 50px 20px;
            flex-direction: column;
        }
    }
}

@media (max-width: 479.98px) {
    .consultation { 
        &__control {
            width: 100%;
        }
        &__button {
            width: 100%;
            padding: 10px;
        }
    }
}

/* Video ===========================================================================*/
.video {
    &__container {
        padding: 100px 40px;
        background-color: $darckGrey;
    }
    &__title {
        color: #fff;
        margin-bottom: 40px;
        h2 {
            display: inline-block;
            margin-right: 150px;
            position: relative;
            margin-bottom: 20px;
            // margin-right: 10px;
        }
        h2::after {
            content: '';
            background: url("../img/video/youtube.svg") 0 0 / 100% no-repeat;
            position: absolute;
            width: 100px;
            height: 32px;
            position: absolute;
            bottom: -8px;
            right: -110px;
            // padding: auto 0;
        }
        a {
            display: inline-block;
            color: #fff;
            border: 1px solid #fff;
            padding: 10px;
        }

    }
    &__item-slide {
        img {
            width: 100%;
            margin-bottom: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

        }
        p {
            color: #fff;
            text-align: start;
        }
        // text-align: center;
        
    }
    &__swiper{
        padding-bottom: 50px;
    }

    .swiper-pagination-bullet-active {
        background: $colorGreen;
    }
}

@media (max-width: 991.98px) {
    .video {
        &__container {
            padding: 70px 20px;
        }
    }
}
@media (max-width: 767.98px) {
    .video {
        &__container {
            padding: 50px 20px;
        }
        &__swiper{
            padding-bottom: 40px;
        }
    }
}
@media (max-width: 434.98px) {
    .video__title h2 {
        margin-right: 100px;
    }
}

/* Brand ===========================================================================*/
.brand {
    &__container {
        padding: 100px 40px;
        background-color: #fff;
        text-align: center;
    }
}