@import 'varibles';
// @import '~swiper/scss/effect-cards';
// @import "~swiper/swiper";
// Swiper
// @import "~swiper/src/swiper";


.page {
    flex: 1 1 auto;
    padding-top: 98px; //padding for navbar
}

// Input form control
.control {
    font-weight: 500;
    padding: 5px 10px;
    background-color: #D9D9D9;
    border: 2px solid  #D9D9D9;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.page__main {
}

.button {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 30px;
    background-color: $colorGreen;
    color: $textInButton;
    transition: 0.5s ease 0s;
    &:hover {
        transform: scale(1.05);
        transition: 0.5s ease 0s;
    }
}

.form-order {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}

/* Main ===========================================================================*/
.main {
    position: relative;
    
    &__container {
        
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -5;
            transform: scale(1.5);
            transition: all 0.8s ease 0s;
        }
    }
    &__body {
        padding: 100px 60px 60px;
        height: 600px;
        background-color: #2c3e4ed3;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        max-width: 665px;

        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0s;

        h1 {
            font-size: 64px;
            font-weight: 700;
            color: white;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
    &__motto {
        max-width: 650px;

        transform: translate(120%, 0px);
        opacity: 0;
        transition: all 0.8s ease 0s;

        h2{
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: white;
        }
    }
    &__call-me {
        margin: 0 auto;
    }
}

/** Animations **/
.main__title._anime {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.main__motto._anime {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
}
.main__container img._anime {
    transform: scale(1.0);
    transition: all 0.8s ease 0.0s;
}

@media (max-width: 991.98px) {
    // .main__title > h1 > span {
    //     margin-left: 30px;
    // }
}
@media (max-width: 767.98px) {
    .page {
        padding-top: 70px;
    }
    .main {
        
        &__body {
            padding: 60px 40px 40px;
        }
        &__title h1 {
            font-size: 52px;
        }
        &__motto h2 {
            font-size: 22px;
        }
        &__title > h1 > span {
            margin-left: 0px;
        }
    }

}
@media (max-width: 545.98px) {
    .page {
            padding-top: 70px;
        }
    .main {
        &__container {
            img {
                object-position: right;
            }
        }
        &__body {
            padding: 40px 30px 40px;
        }
        &__title h1 {
            font-size: 48px;
        }
        &__motto h2 {
            font-size: 20px;
        }
        &__title > h1 > span {
            margin-left: 0px;
        }
    }
}
@media (max-width: 399.98px) {
    .page {
            padding-top: 70px;
        }
    .main {
        &__container {
            img {
                object-position: left;
            }
        }
    }
    .main__title h1 {
        font-size: 42px;
    }
    .main__motto h2 {
        font-size: 20px;
    }
    .main__call-me button {
        padding: 8px;
        font-size: 18px;
    }
}

/* Feedback ===========================================================================*/
.page__feedback {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.2s ease 0s;
}
.show-form {
    height: 100%;
    opacity: 1;
    transition: 0.5s ease 0s;
}



/* Services ===========================================================================*/
.page__service {
}
.service {
    &__container {
        background-color: $backWite;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__title {
        text-align: center;
        max-width: 400px;
        margin: 0 auto 40px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            right: 0px;
            height: 140%;
            width: 40%;
            background-color: $colorGreen;
        }
        h2 {
            font-weight: 400;
            display: inline-block;
            position: relative;

            color: #fff;
            background-color: $darckGrey;
            padding: 10px;
        }
    }
    &__describe {
        text-align: center;
        p {
            padding: 10px;
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.service__items {
    max-width: 1400px;
    padding: 50px 45px;
    .swiper-pagination-bulle {
        height: 15px;
        width: 15px;
        line-height: 20;
        font-size: 14px;
    }
    .swiper-pagination-bullet-active {
        background: $darckGrey;
    }
    .swiper-button-next::after {         
            color: $colorGreen;        
    }
    .swiper-button-prev::after {         
            color: $colorGreen;        
    }
}
.service__item {
    border: 3px solid #EDEEF0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease 0s;
    &:hover {
        .item-service__about {
            background-color: $darckGrey;
        }
        .item-service__title {
            color: $backWite;
        }
        .item-service__text {
            color: $backWite;
        }

        border: 3px solid $colorGreen;
        transform: scale(1.08);
        transition: 0.5s ease 0s;
    }
}
.item-service {
    position: relative;
    // max-width: 290px;
    // aspect-ratio: 4/3;
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__about {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 10px;
        width: 100%;
        background-color:  #EDEEF0;
        transition: all 0.8s ease 0;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    &__text, span {
        font-size: 14px;
        line-height: 17px;
    }
    &__hidden {
        display: none;
        
    }
    &__open {
        position: absolute;
        right: 10px;
        top: 12px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        img{
            height: 15px;            
        }
    }
}
.visible {
    display: block;
}
.chevron_rotate {
    transform: rotate(180deg);
}

.show-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    .item-service__title {
        margin-bottom: 10px;
    }
    .item-service__text .dotes {
        display: none;
    }
    .item-service__text {
        max-width: 100%;
    }
    .item-service__hidden {
        display: block;
        max-width: 100%;
    }
}


// ********** Complex solution **********
.complex-solution {
    &__container {
        position: relative;
        background-color: #2c3e4ed3;
        padding: 100px 40px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__body {
        display: flex;
        gap: 100px;
    }
    &__text{
        flex: 0 1 50%;
        color: #fff;
    }
    &__advantages{
        flex: 0 1 50%;
    }
    &_title {
        margin-bottom: 60px;
        color: #fff;

        font-size: 42px;
        font-weight: 600;
        line-height: 150%;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        // li:nth-child(1) {
        //     margin-left: 0px;
        // }
        // li:nth-child(2) {
        //     margin-left: 40px;
        // }
        // li:nth-child(3) {
        //     margin-left: 80px;
        // }
        // li:nth-child(4) {
        //     margin-left: 120px;
        // }
        li {
            transform: translate(120%, 0px);
            transition: all 0.3s ease 0s;

            color: #fff;
            position: relative;

            padding-left: 60px;

            font-size: 20px;
            font-weight: 500;
            line-height: 120%;

            &::before {
                content: '';
                background: url("../img/complex_solution/icon _check_.svg") 0 0 / 100% no-repeat;
                position: absolute;
                top: -13px;
                left: 0;
                height: 40px;
                width: 40px;
            }
        }
    }
    &__items._anime li {
        transform: translate(0px, 0px);
    }
    &__items._anime li:nth-child(1) {
        transition: all 0.8s ease 0s;
    }
    &__items._anime li:nth-child(2) {
        transition: all 0.8s ease 0.2s;
    }
    &__items._anime li:nth-child(3) {
        transition: all 0.8s ease 0.4s;
    }
    &__items._anime li:nth-child(4) {
        transition: all 0.8s ease 0.6s;
    }
}
@media (max-width: 991.98px) {
    .complex-solution {
        &__container {
            padding: 70px 30px;
        }
        &__body {
            flex-direction: column;
            gap: 60px;
        }
        &__items {
            gap: 60px;
        }
    }
}
@media (max-width: 767.98px) {
    .complex-solution {
        &__container {
            padding: 70px 20px;
            
        }
        &_title {
            font-size: 32px;
        }
    }
}
@media (max-width: 620px) {
    .complex-solution {
        &__container {
            padding: 50px 20px;
        }
        &__items {
            li:nth-child(1) {
                margin-left: 0px;
            }
            li:nth-child(2) {
                margin-left: 0px;
            }
            li:nth-child(3) {
                margin-left: 0px;
            }
            li:nth-child(4) {
                margin-left: 0px;
            }
            li {
                padding-left: 40px;
            }
            li::before {
                top: 0px;
                left: 0;
                height: 32px;
                width: 32px;
            }

        }
    }
}





// .complex-solution__items {
//     &._anime {
//         li {
//             transform: translate(0px, 0px);
//             @for $var from 1 to 4 {
//                 $delay: $var * 0.2;
//                 &:nth-child(#{$var}) {
//                     @if $var==1 {
//                         transition: all 0.8s ease 0s;
//                     } @else {
//                         transition: all 0.58s ease #{deley + s};
//                     }
//                 }
//             }
//         }
//     }
// }


// ********** Solution about **********
.solution-about {
    &__container {
        background-color: #fff;
        padding: 90px 40px;
        display: flex;
        gap: 50px;
    }
    &__describe {
        flex: 0 1 30%;
        background-color: $colorGreen;
        text-align: center;
    }
    &__contant {
        position: relative;
        padding: 20px;
        background-color: $darckGrey;
        color: #fff;
        top: 20px;
        left: 20px;
    }
    &__describe h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;
        line-height: 120%;
    }
    &__describe p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%; /* 24/16 */

    }
}

.complex-advantages {
    flex: 0 1 70%;
    h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 40px;
        text-align: center;
    }
    &__items {
        display: flex;
        gap: 50px;
    }
    &__item {
        flex: 0 1 33.3%;
    }
    &__item-number {
        color: $colorGreen;
        height: 120px;
        width: 120px;
        border: 3px solid $colorGreen;
        margin: 0 auto 20px;
        font-size: 64px;
        font-weight: 700;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: scale(0.3);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    &__item-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%; /* 24/16 */
        text-align: center;
    }
}

.complex-advantages__item-number._anime {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

@media (max-width: 1100px) {
    .solution-about {
        &__container {
            flex-direction: column;
        }
    }
    
}

@media (max-width: 767.98px) {
    .solution-about__container {
        padding: 70px 40px;
    }
    .complex-advantages {
        &__items {
            flex-direction: column;
            gap: 40px;
        }
        &__item-text {
            text-align: center;

        }
    }
}

@media (max-width: 620px) {
    .solution-about{
        &__container {
        padding: 50px 20px;
        }
        &__describe {
            margin-right: 20px;
        }
    }
    .advantages {
        flex-direction: column;
        &__item-number {
            height: 150px;
            width: 150px;
        }
    }
}


/* Order comolex solution ===========================================================================*/
.order-complex-solution {
    &__container {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        background-color: $darckGrey;
        color: #fff;
        gap: 30px;
        justify-content: space-between;
    }
    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        line-height: 110%;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .input-phone {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 5px;
        }
        .control {
            height: 32px;
            
        }
    }
    .button {
        font-size: 16px;
        padding: 5px 10px;
    }
    @media (max-width: 1100px) {
        &__container {
            flex-direction: column;

        }
    }
    @media (max-width: 564px) {
        &__form {
            flex-direction: column;
        }
    }
}

/* Work ===========================================================================*/
.work {
    &__container {
        padding: 90px 40px;
        background-color: #fff;

    }
    &__title {
        text-align: center;
        margin: 0 auto;
        max-width: 370px;
        background-color: $colorGreen;
        h2 {
            display: inline-block;
            background-color: $darckGrey;
            color: #fff;
            padding: 5px 10px;
            font-weight: 400;
            position: relative;
            top: -20px;
        }
    }
    &__swiper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__item-slide {
        text-align: center;
    }
    &__item-slide {
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
        }
    }

    .swiper-pagination-bullet-active {
        background: $colorGreen;
    }
    .swiper-button-next::after {         
            color: $colorGreen;        
    }
    .swiper-button-prev::after {         
            color: $colorGreen;        
    }
    @media (max-width: 767.98px) {
        .work__container {
            padding: 70px 40px;
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
            display: none;
        }
    }
    @media (max-width: 479.98px) {
        .work {
            &__container {
            padding: 50px 20px;
            }
            &__text {
                font-size: 36;
                margin-bottom: 20px;
            }
        }
    }
}


/* Advantages ===========================================================================*/
.advantages {
    
    &__container {
        padding: 100px 40px;
        background-color: $darckGrey;
    }
    &__title {
        color: #fff;
        margin-bottom: 40px;
    }
    &__text {
        color: #fff;
        margin-bottom: 40px;
        font-weight: 300;
        max-width: 740px;
    }

    &__body {
        display: flex;
        gap: 32px;
        overflow: hidden;
        
    }
    &__items {
        flex: 1 1 auto;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    &__item {
        background: rgba(129, 129, 139, 0.1);
        padding: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        transform: scale(0.7);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    &__item:hover {
        transform: scale(1.03);
    }
    &__value {
        font-size: 51px;
        font-weight: 500;
        color: #fff;
    }
    &__value:not(:last-child) {
        margin-bottom: 32px;
    }
    &__text {
        font-size: 18px;
        line-height: 1.5;
    }
    &__image {
        align-self: center;
        flex: 0 0 38%;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        transform: translate(100%, 0px);
        opacity: 0;
    }
    &__image img {
        max-width: 100%;
        transform: scale(1.005);
    }
}

.advantages__item._anime {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.advantages__image._anime {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}
@media (max-width: 991.98px) {
    .advantages__container {
        padding: 70px 40px;
    }
    .advantages__body {
        flex-direction: column;
    }
}
@media (max-width: 767.98px) {
    .advantages__container {
        padding: 50px 30px;
    }
}
@media (max-width: 650px) {
    .advantages__items {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

/* Social ===========================================================================*/
.social {
    &__container {
        padding: 100px 40px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo {
        img {
            height: 130px;;
        }
    }
    &__links {
        display: flex;
        gap: 30px;
        padding: 0 40px;
    }
}
@media (max-width: 767.98px) {
    .social {
        &__container {
            flex-direction: column;
        }
        &__logo {
            margin-bottom: 30px;
            img {
                height: 80px;
            }
        }
    }
}

/* Testimonials ===========================================================================*/

.testimonials {
    
    &__container {
        padding: 100px 40px;
        background-color: $darckGrey;
        
    }
    &__header {
        margin-bottom: 64px;
    
        a {
            color: #fff;
            border: 1px solid $colorGreen;
            padding: 10px;
            display: inline-block;
    
            &:hover {
                transform: scale(1.05);
            }
        }
    
        h2 {
            margin-top: 40px;
            margin-bottom: 40px;
            color: #fff;
        }
    
        .header-main__title {
            max-width: none;
        }
    
        .header-main__text {
            max-width: 740px;
    
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            /* 24/16 */
            color: #fff;
        }
    }
    &__items {
        display: flex;
        gap: 48px;
    
        h4 {
            font-weight: 500;
            font-size: 32px;
            line-height: 140.625%;
            /* 45/32 */
            color: #fff;
        }
    }
    &__item {
        padding: 64px 40px;
        background: rgba(129, 129, 139, 0.1);
        display: flex;
        flex-direction: column;
        gap: 32px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.8s ease 0s;
    
    }
}
.header-main__label:hover {
    transform: scale(1.05);
}
.testimonials__item._anime {
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.item-testimonial{
    &__user {
        display: flex;
        gap: 16px;
    }
    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 140.625%;
        /* 45/32 */
        color: #fff;
    }
    &__text {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        /* 24/16 */
        flex: 1 1 auto;
    }
    &__rating {
        padding-bottom: 20px;
    }
}
.user-testimonial {
    &__body {
        align-self: center;
    }
    &__avatar img {
        overflow: hidden;
        height: 64px;
    }
    &__title:not(:last-child) {
        margin-bottom: 7px;
    }
    &__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%; /* 24/16 */
        color: #fff;
    }
    &__company {
        font-size: 14px;
        line-height: 157.142857%; /* 22/14 */
    }
}

@media (max-width: 1100px) {
    .testimonials__item {
        padding: 30px 15px;
    }
}

@media (max-width: 991.98px) {
    .testimonials {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
            flex-direction: column;
        }
        &__header {
            margin-bottom: 40px;
        }
        &__header .header-main__text {
            max-width: 520px;
        }
        &__items {
            flex-direction: column;
            padding: 30px 0px;
        }
    }
}
@media (max-width: 767.98px) {
    .testimonials {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .header-main__body {
        flex-direction: column;
    }
}

@media (max-width: 479.98px) {
}

/* Consultation ===========================================================================*/
.consultation {
    &__container {
        background-color: #fff;
        padding: 100px 40px;
        display: flex;
        gap: 60px;
    }
    &__about {
        text-align: center;
        flex: 0 1 50%;
    }
    &__title {
        margin-bottom: 40px;
        h2 {
            font-size: 28px;
        }
    }
    &__text {
        background-color: $colorGreen;
        max-width: 500px;
        margin: 0 auto;
    }
    &__text .text{
        margin: 0 auto;
        max-width: 400px;
        padding: 10px 20px;
        background-color: $darckGrey;
        position: relative;
        top: 20px;
        color: #fff;
    }
    &__form {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__control {
        font-size: 24px;
        margin-bottom: 22px;
        height: 64px;
        width: 348px;

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    }
    &__button {
        height: 64px;
        width: 348px;
    }
}

@media (max-width: 991.98px) {
    .consultation {
        &__container {
            padding: 70px 20px;
            display: flex;
            gap: 30px;
        }
    }
}
@media (max-width: 767.98px) {
    .consultation {
        &__container {
            padding: 50px 20px;
            flex-direction: column;
        }
    }
}

@media (max-width: 479.98px) {
    .consultation { 
        &__control {
            width: 100%;
        }
        &__button {
            width: 100%;
            padding: 10px;
        }
    }
}

/* Video ===========================================================================*/
.video {
    &__container {
        padding: 100px 40px;
        background-color: $darckGrey;

        a {
            display: inline-block;
            color: #fff;
            border: 1px solid $colorGreen;
            padding: 10px;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__title {
        color: #fff;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        h2 {
            display: block;
            margin-right: 20px;
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 320px;
        }
    }
    &__item-slide {
        position: relative;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        background: url('../img/video/video-picto.svg')  no-repeat center / 20%;

        transition: 0.5s ease 0s;

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        
        &:hover {
            cursor: pointer;
            background-size: 23%;
            transition: 0.3s ease 0s;
        }


        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
        // z-index: 10;
        // iframe {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;

        // }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            z-index: -100;
        }
        p {
            color: #fff;
            text-align: start;
        }
        
    }
    &__swiper{
        padding-bottom: 50px;
    }
    &__swiper-slide{        
        color: #fff;
    }

    &__item-slide{
        margin-bottom: 10px;
    }

    .swiper-pagination-bullet-active {
        background: $colorGreen;
    }
}

@media (max-width: 991.98px) {
    .video {
        &__container {
            padding: 70px 20px;
        }
    }
}
@media (max-width: 767.98px) {
    .video {
        &__container {
            padding: 50px 20px;
        }
        &__swiper{
            padding-bottom: 40px;
        }
    }
}
@media (max-width: 434.98px) {
    .video__title h2 {
        margin-right: 100px;
        max-width: 200px;
    }
}

/* Brand ===========================================================================*/
.brand {
    &__container {
        padding: 100px 40px;
        background-color: #fff;
        text-align: center;
    }
    &__title {
        max-width: 900px;
        margin: 0 auto 60px;
        position: relative;

        h2 {
            font-weight: 400;
        }
        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -20px;
            height: 140%;
            width: 40%;
            background-color: $colorGreen;
        }
        h2 {
            background-color: $darckGrey;
            color: #fff;
            position: relative;
            padding: 10px;
        }
    }
    &__swiper-slide {
        height: 200px;
    }
    &__item {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 300px;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 767.98px) {
    .brand {
        &__container {
            padding: 50px 20px;
        }
        &__swiper{
            padding-bottom: 20px;
        }
    }
}
@media (max-width: 434.98px) {
    .brand__title {
        margin-bottom: 40px;
        h2 {
            font-size: 24px;
        }
    }
}

