.security-example {
    position: relative;

    &__container {
        // padding: 0px 40px 100px;
        // background-color: #fff;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -5;
        }
    }
    &__content {
        background-color: #2c3e4ed3;
        padding: 100px 40px;
        color: #fff;
    }
    &__title {
        margin-bottom: 40px;
        // margin: 0 auto;
        // text-align: center;
        h1 {
            display: inline;
        }
    }
    &__text {
        // margin-bottom: 40px;
        max-width: 740px;
        // margin: 0 auto 40px;
        // text-align: center;
    }
    &__app {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // gap: 30px;
        padding: 40px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
}

.app-security {
    &__container {
        padding: 40px;
        background-color: #fff;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
}
.item-app {
    // max-height: 430px;
    // max-width: 270px;
    // padding: 10px;
    // border: 2px solid $fontColorGrey;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease 0s;
    background-color: #fff;

    min-height: 100%;
    display: flex;
    flex-direction: column;

    // &:hover {
    //     transform: scale(1.03);
    //     transition: 0.5s ease 0s;
    // }
    &__image {
        img {
            aspect-ratio: 1/1;
            width: 100%;
        }
    }
    &__body {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__name {
        // margin: 0 10px;
        font-size: 18px;
        color: black;
        font-weight: 600;
    }
    &__description {
        // margin: 10px;
        flex: 1 1 auto;
    }
    &__price {
        // margin: 10px;
        display: flex;
        font-size: 24px;
        font-weight: 600;
    }
    &__price-box {
        margin-left: 10px;
        color: $colorGreen;
    }
    &__button {
        width: 100%;
        &:hover {
            transform: none;
            background-color: #47dfdf;
        }
    }
}
@media (max-width: 1100px) {
    .app-security {
        &__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
        }
    }
}
@media (max-width: 860px) {
    .app-security {
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
    }
}
@media (max-width: 570px) {
    .app-security {
        &__container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
        }
    }
}
